[Unit]
Description=Starts server to enable remote control of arm.

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash /home/million/robot-arm-socket-server/start.sh
Type=simple
User=root
Group=root
WorkingDirectory=/home/million
Restart=on-failure
